##Benchmark KDtree

In [ ]:
!pip install scipy

import tensorflow as tf
from scipy.spatial import KDTree as kdtree
from scipy.spatial import cKDTree as ckdtree

Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.18.5)

In [ ]:
import pandas as pd
import csv

data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/BTCUSDT-w00-2017-historical.csv')

In [ ]:
data.head

<bound method NDFrame.head of              time price_aver
0          1504224061 4689.9
1          1504224062 4689.9
2          1504224063 4689.9
3          1504224064 4689.9
4          1504224065 4689.9
...                      ...
82319781   1586543841 6900.9
82319782  1586543842 6900.02
82319783   1586543843 6900.0
82319784   1586543844 6900.0
82319785   1586543845 6900.0

[82319786 rows x 1 columns]>

In [ ]:
example = pd.read_csv('/content/drive/My Drive/Colab Notebooks/1000_daily.csv')

In [ ]:
example.head

<bound method NDFrame.head of        symbol        date  1. open  ...  10ema_close  10Momentum_close  Daily_gain
0         AAN  2012-07-03    28.52  ...    28.530000             0.000    0.000000
1         AAN  2012-07-05    28.48  ...    28.531818             0.010   -0.001403
2         AAN  2012-07-06    28.26  ...    28.458760            -0.400   -0.007725
3         AAN  2012-07-09    28.05  ...    28.402622            -0.380   -0.007431
4         AAN  2012-07-10    28.30  ...    28.358509            -0.370    0.008913
...       ...         ...      ...  ...          ...               ...         ...
357047   ZYNE  2020-06-09     5.60  ...     5.452684            -0.800    0.000000
357048   ZYNE  2020-06-10     5.41  ...     5.408560            -0.380   -0.033929
357049   ZYNE  2020-06-11     5.03  ...     5.285185            -0.660   -0.070240
357050   ZYNE  2020-06-12     4.95  ...     5.206061            -0.410   -0.015905
357051   ZYNE  2020-06-15     4.85  ...     5.178595            -0.465   -0.020202

[357052 rows x 14 columns]>

In [ ]:
example.columns

Index(['symbol', 'date', '1. open', '2. high', '3. low', '4. close',
       '5. volume', '5sma_close', '5ema_close', '5Momentum_close',
       '10sma_close', '10ema_close', '10Momentum_close', 'Daily_gain'],
      dtype='object')